<!DOCTYPE html>
<html>
<head>
	<title>Catatan Kegiatan</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<style type="text/css">
		body {
			padding-top: 70px;
			min-height: 400px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand judul-aplikasi" href="#!">Catatan Kegiatan</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="index.html">Tambah Data</a></li>
	        <li><a href="https://play.google.com/store/apps/dev?id=5401138465689796048">Aplikasi Lainnya</a></li>
	        <li><a href="https://play.google.com/store/apps/details?id=com.mzaini30.catatankegiatan">Review Aplikasi</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		{{ content }}
	</div>
	<script type="text/javascript" src="vendor/jquery/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="vendor/swal/sweetalert.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="vendor/dexie/dexie.js"></script>
	<script>
		kegiatan = new Dexie('database kegiatan')
		kegiatan.version(1).stores({
			data: '++id, nama, kegiatan, tanggal, berangkat, pulang, durasi, catatan'
		})

		$('.judul-aplikasi').click(function(){
			$('html, body').animate({
				scrollTop: 0
			}, 600)
		})
		$('.tambah-data').on('submit', function(x){
			x.preventDefault()
			kegiatan.data.add({
				nama: $('.nama').val(),
				kegiatan: $('.kegiatan').val(),
				tanggal: $('.tanggal').val(),
				berangkat: $('.berangkat').val(),
				pulang: $('.pulang').val(),
				durasi: $('.durasi').val(),
				catatan: $('.catatan').val()
			}).then(function(){
				swal('Data berhasil disimpan.')
			})
		})
	</script>
</body>
</html>